button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: gothamLight;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}

button.default {
  background-color: var(--theme-c1);
}

button.default:hover {
  background-color: var(--theme-c2);
}
